apiVersion: v1
kind: Service
metadata:
  name: ticket-service
spec:
  selector:
    app: ticket-service
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30082  # Acesse com: minikube service ticket-service
  type: NodePort