version: '3.8'

services:

  consul:
    image: consul:1.15.4
    ports:
      - "8500:8500"

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=orbis
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  ticket-service:
    build:
      context: ../ticket-service
      dockerfile: Dockerfile
    container_name: ticket-service
    ports:
      - "8082:8082"
    depends_on:
      - mongo
      - consul

  event-service:
    build:
      context: ../event-service
      dockerfile: Dockerfile
    container_name: event-service
    ports:
      - "8081:8081"
    depends_on:
      - rabbitmq
      - consul

  orbis-login:
    build:
      context: ../orbis-login
      dockerfile: Dockerfile
    container_name: orbis-login
    ports:
      - "8085:8085"
    depends_on:
      - postgres
      - consul

  orbis-gateway:
    build:
      context: ../orbis-gateway
      dockerfile: Dockerfile
    container_name: orbis-gateway
    ports:
      - "8080:8080"
    depends_on:
      - ticket-service
      - event-service
      - orbis-login
      - consul