server:
  port: 8080

spring:
  application:
    name: orbis-gateway

  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        enabled: true
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/events/**
        - id: ticket-service
          uri: lb://ticket-service
          predicates:
            - Path=/tickets/**