server:
  port: 8083

spring:
  application:
    name: orbis-login

  profiles:
    active: local

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        fail-fast: false
        register: true
        enabled: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: "*"